@import '../../../../styles/_mixin.scss';

.news_select_popper {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    &_wrapper {
        margin-top: 5%;
        width: 660px;
        height: 652px;
        max-height: 90vh;
        max-width: 95vw;
        background: #fff;
        display: flex;
        flex-direction: column;

        .popper_header {
            height: 59px;
            background: color(green);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &_title {
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #fff;
                font-family: $Mont;
            }

            .close_btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 16px;

                img {
                    height: 16px;
                    width: 16px;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }

        .popper_body {
            padding: 20px 0;            
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .search_wrap {
                margin: 0 20px;
                background: #F2F2F2;
                padding: 0 23px;
                height: 40px;
                display: flex;
                align-items: center;

                img {
                    height: 26px;
                    width: 26px;
                    object-fit: contain;
                    object-position: center;
                    margin-right: 8px;
                }

                .form_control {
                    height: 40px;
                    border-radius: 0;
                    border: 0;
                    background: transparent;
                    font-size: 20px;
                    color: color(dark);
                    
                    &::placeholder {
                        opacity: 0.3;
                        font-style: italic;
                    }
                }
            }

            .popper_news_wrap {
                height: 360px;
                overflow-y: auto;
                padding: 0 20px;
                // margin-top: 20px;
            }

            .popper_news {
                padding: 20px 0;
                border-bottom: 1px solid color(dark_blue);
                display: flex;
                flex-wrap: wrap;

                &.select {
                    background: rgba(135, 196, 75, 0.2);
                }

                &.red {
                    background: rgba(231, 60, 60, 0.2);
                }

                .popper_news_img_wrap {
                    width: 18%;
                    flex-grow: 1;

                    @include mobile {
                        width: 25%;
                    }

                    img {
                        height: 75px;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .popper_news_content {
                    width: 82%;
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    padding-left: 13px;

                    @include mobile {
                        width: 75%;
                    }

                    .popper_news_title {
                        font-weight: bold;
                        font-size: 21px;
                        line-height: 25px;
                        color: color(dark);

                        @include mobile {
                            font-size: 17px;
                            line-height: 21px;
                            padding-bottom: 10px;
                        }
                    }

                    .news_date {
                        font-size: 13px;
                        line-height: 1;
                        color: color(gray);
                    }
                }
            }

            > .btn {
                height: 55px;
                background: color(orange);
                font-weight: bold;
                font-size: 18px;
                color: #fff;
                margin: 0 20px;
                width: calc(100% - 40px);
                border-radius: 0;
                margin-top: 20px;
            }
        }
    }
}